<a href="https://colab.research.google.com/github/somendrew/LLMs/blob/main/Building_an_AI_Agent_using_OpenAI_API.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import Dataset

In [3]:
!pip install -q kagglehub

In [4]:
import kagglehub

# Download latest version
path = kagglehub.dataset_download("ninzaami/loan-predication")

print("Path to dataset files:", path)

Warning: Looks like you're using an outdated `kagglehub` version (installed: 0.3.13), please consider upgrading to the latest version (1.0.0).
Downloading from https://www.kaggle.com/api/v1/datasets/download/ninzaami/loan-predication?dataset_version_number=1...

100%|██████████| 7.83k/7.83k [00:00<00:00, 10.6MB/s]

Extracting files...
Path to dataset files: /root/.cache/kagglehub/datasets/ninzaami/loan-predication/versions/1

In [7]:
import os

files = os.listdir(path)
print("Files in dataset:", files)

Files in dataset: ['train_u6lujuX_CVtuZ9i (1).csv']

In [12]:
import pandas as pd

# 3. Load the specific CSV (adjust filename if yours is different)
df = pd.read_csv(f"{path}/train_u6lujuX_CVtuZ9i (1).csv")

# 4. Success!
df.head()

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y

In [13]:
def create_data_summary(df):
    summary = f"The dataset has {df.shape[0]} rows and {df.shape[1]} columns.\n"
    summary += "Columns:\n"
    for col in df.columns:
        summary += f"- {col} (type: {df[col].dtype})\n"
    return summary

In [14]:
create_data_summary(df)

'The dataset has 614 rows and 13 columns.\nColumns:\n- Loan_ID (type: object)\n- Gender (type: object)\n- Married (type: object)\n- Dependents (type: object)\n- Education (type: object)\n- Self_Employed (type: object)\n- ApplicantIncome (type: int64)\n- CoapplicantIncome (type: float64)\n- LoanAmount (type: float64)\n- Loan_Amount_Term (type: float64)\n- Credit_History (type: float64)\n- Property_Area (type: object)\n- Loan_Status (type: object)\n'

# Setup API Key

In [1]:
from openai import OpenAI

In [22]:
from google.colab import userdata
api_key = userdata.get('api_key')

In [33]:
client = OpenAI(api_key = api_key)

# Building AI Agent Function

Define AI Agent that will handle user queries based on the data summary

In [36]:
def ai_agent(user_query, df):
  data_context = create_data_summary(df)

  prompt = f"""
As a Data Science Expert, analyze the following dataset summary: {data_context}

User Query: {user_query}

Instructions:
- Provide only the final insights and direct answers.
- Do not include "Step 1, Step 2," your thought process, or the Python code used to reach the conclusion.
- Avoid introductory phrases like "Based on the data..." or "Sure, I can help with that."
- Focus on accuracy and statistical significance.

Final Answer:"""

  response = client.chat.completions.create(
      model = 'gpt-4o',
      messages = [{'role':'user', 'content': prompt}],
      temperature = 0.1,
      max_tokens = 500
  )

  answer = response.choices[0].message.content
  return answer

Now, we will create an interactive loop where users can ask questions to the AI Agent:

In [37]:
print("Welcome to Loan Review AI Agent!")
print("You can ask anything about the loan applicants data.")
print("Type 'exit' to quit.")

while True:
  user_input =  input('/n Your Question: ')
  if user_input.lower() == "exit":
        break
  response = ai_agent(user_input, df)
  print("\nAI Agent Response:")
  print(response)

Welcome to Loan Review AI Agent!
You can ask anything about the loan applicants data.
Type 'exit' to quit.
/n Your Question: How many applicants are self-employed? Read the dataset and give me the numbers.

AI Agent Response:
The number of self-employed applicants is 82.
/n Your Question:  Who has the highest applicant income? Read the dataset and give me numbers

AI Agent Response:
The individual with the highest applicant income has an ApplicantIncome of 81,000.
/n Your Question: exit